* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar-main {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.search-bar {
    max-width: 500px;
    width: 100%;
}

.secondary-nav {
    background-color: #f8f8f8;
    font-size: 14px;
}

.secondary-nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.secondary-nav a:hover {
    color: #e63946;
}

/* banner-recommended */

.banner-recommended .banner img{
    border-radius: 8px;
}
.banner-recommended .recommended img{
    width: 200px;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
}